import os

SERVER_MODE = True
DEFAULT_EMAIL = '{{ pgadmin_default_email }}'
DEFAULT_PASSWORD = '{{ pgadmin_default_password }}'
DEFAULT_SERVER = '{{ pgadmin_listen_address }}'
DEFAULT_SERVER_PORT = {{ pgadmin_listen_port }}
LOG_FILE = '{{ pgadmin_log_file }}'
SQLITE_PATH = '{{ pgadmin_sqlite_path }}'
STORAGE_DIR = '{{ pgadmin_storage_dir }}'
