[Unit]
Description=pgAdmin 4
After=network.target

[Service]
Type=simple
User={{ pgadmin_user }}
Group={{ pgadmin_group }}
WorkingDirectory={{ pgadmin_home }}
Environment=PATH=/usr/local/bin:/usr/bin:/bin
Environment=PGADMIN_DEFAULT_EMAIL={{ pgadmin_default_email }}
Environment=PGADMIN_DEFAULT_PASSWORD={{ pgadmin_default_password }}
Environment=PGADMIN_SETUP_EMAIL={{ pgadmin_default_email }}
Environment=PGADMIN_SETUP_PASSWORD={{ pgadmin_default_password }}
Environment=PGADMIN_DATA_DIR={{ pgadmin_data_dir }}
Environment=PGADMIN_CONFIG_DIR={{ pgadmin_config_dir }}
Environment=PGADMIN_CONFIG_FILE={{ pgadmin_config_dir }}/config_local.py
Environment=PGADMIN_LOG_FILE={{ pgadmin_log_file }}
Environment=PGADMIN_CONFIG_LOG_FILE={{ pgadmin_log_file }}
Environment=PGADMIN_CONFIG_DEFAULT_EMAIL={{ pgadmin_default_email }}
Environment=PGADMIN_CONFIG_DEFAULT_PASSWORD={{ pgadmin_default_password }}
Environment=PGADMIN_CONFIG_SQLITE_PATH={{ pgadmin_sqlite_path }}
Environment=PGADMIN_CONFIG_STORAGE_DIR={{ pgadmin_storage_dir }}
Environment=PGADMIN_CONFIG_DEFAULT_SERVER={{ pgadmin_listen_address }}
Environment=PGADMIN_CONFIG_DEFAULT_SERVER_PORT={{ pgadmin_listen_port }}
Environment=PGADMIN_CONFIG_SERVER_MODE=True
ExecStart={{ pgadmin_uv_bin }} run --python {{ pgadmin_virtualenv_path }} -- pgadmin4
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
